* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.dropdown .dropdown-button:hover {
  background-color: #be2530;
}
.dropdown .dropdown-button:active {
  background-color: #931d25;
}
.dropdown .dropdown-content {
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid #931d25;
  transform-origin: top;
  visibility: hidden;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #931d25;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  background-color: #931d25;
}
.dropdown .dropdown-hidden {
  animation: slideout 0.3s;
  visibility: hidden;
}
.dropdown .dropdown-visible {
  animation: slidein 0.3s;
  visibility: visible;
}
@keyframes slideout {
  0% {
    visibility: visible;
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    visibility: visible;
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes slidein {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  transition: height 0.3s;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
  height: 100px;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #931d25;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #931d25;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #be2530;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #931d25;
  background-color: #ffffff;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: #ffffff;
}
.carousel {
  text-align: center;
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.carousel img {
  width: 100%;
  display: none;
}
.carousel img.show {
  display: block;
  animation: fadein 1s;
}
.carousel .next,
.carousel .prev {
  position: absolute;
  cursor: pointer;
  padding: 30px;
  color: black;
  font-size: 30px;
  transition: background 0.6s, color 0.3s;
  opacity: 0.6;
}
.carousel .next:hover,
.carousel .prev:hover,
.carousel .next:focus,
.carousel .prev:focus {
  background: black;
  color: white;
}
.carousel .prev {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 20px;
  float: left;
  left: 0;
}
.carousel .next {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 20px;
  float: right;
  right: 0;
}
.carousel .indicators {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .indicators .indicator {
  margin: 0 10px;
  background: black;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  transition: background 0.4s;
}
.carousel .indicators .indicator.show {
  background: white;
}
@keyframes fadein {
  from {
    opacity: 0.5;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #931d25;
}
.header-container .header {
  height: 50px;
}
.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid #931d25;
  box-shadow: 1px 1px 5px #931d25;
  border-radius: 10px;
  overflow: hidden;
}
.section .box {
  padding: 40px;
}
.section .box .box-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
